# essentials
.*
**/.DS_Store
**/__pycache__

# media
**/*.png
**/*.jpeg
**/*.mp4

# specific
emoji-corpus
output
test*.py
*.egg-info
files.txt
build
dist

# exceptions
!.gitignore
!.github
!**/tests/*.py
!**/tests/data/sources/*.png
!**/tests/data/targets/*.jpeg
