# essentials
.*
**/.DS_Store
**/__pycache__

# media
**/*.png
**/*.jpeg
**/*.mp4

# specific
emoji-corpus
output
test*.py
*.egg-info

# exceptions
!.gitignore
!**/tests/*.py
!**/tests/data/sources/*.png
!**/tests/data/targets/*.jpeg
